# Ignore the massive training data
**/Datasets/UA-DETRAC/
**/Datasets/Platinum-Benchmark/labels.cache
**/Datasets/sifted_ua_detrac/
**/Datasets/traffic_final/

# Ignore training results and weights
**/Custom YOLOv11n Model/
*.pt
*.zip

# Ignore system files
.DS_Store
__pycache__/